@page
@model PaperGate.Web.Pages.Account.Admin.Papers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaperInfo[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperInfo[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperInfo[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperInfo[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperInfo[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperInfo[0].ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaperInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
