@page
@model PaperGate.Web.Pages.AboutUsModel
@{
	ViewData["Title"] = "درباره ما";
}
<div class="container py-8">
	<!--    main image-->
	<div>
		<img src="~/Assets/Pictures/Preferences/@Model.PageDto?.Image" alt="main image"
			 class="w-full h-\[50vh\] sm768:h-[80vh] rounded-sm shadow shadow-gray-500">
	</div>
	<!--    information-->
		<div class="w-full pr-3 mt-10">
			<p class="text-indigo-700 line-height font-bold text-justify mt-8 tablet:mt-0">
				@Model.PageDto.Description
			</p>
	</div>
	<div>
		@if (Model.PageDto.ContactWays is not null && Model.PageDto.ContactWays.Count > 0)
		{
			<div class="gap-8 items-center mx-auto justify-center mt-8">
				<h1 class="text-xl text-indigo-700 font-bold text-center"> راه های ارتباطی </h1>
				@foreach (var item in Model.PageDto.ContactWays.Where(c => c.IsLink))
				{
					<div class="mt-4 gap-4 flex justify-center items-center">
						<a href="@item.Link"><i class="text-3xl text-red-500 @item.Icon"></i></a>
					</div>
				}
			</div>
			<div class="mt-4 mx-auto">
				@foreach (var item in Model.PageDto.ContactWays.Where(c => !c.IsLink))
				{
					<h2 class="text-center text-style text-indigo-700">
						<i class="@item.Icon"></i>
						@item.Title
					</h2>
				}
			</div>
		}

	</div>
</div>
@section Styles {
	<style>
		body {
			background-color: #626b32;
		}
	</style>
}