@page
@model IndexModel
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<SharedResources> Localizer
@{
	ViewData["Title"] = "خانه";
}
<form method="post">
	<button asp-page-handler="ChangeLanguage" asp-route-culture="fa">فارسی</button>
	<button asp-page-handler="ChangeLanguage" asp-route-culture="en">English</button>
</form>

@if (Model.IndexDto.Sliders is not null && Model.IndexDto.Sliders.Count > 0)

{
	<section class="container overflow-hidden mx-auto mb-12 px-4 mt-6">
		<div class="slider w-full h-[80vh] relative">
			<div class="slider-items w-full h-full">
				@foreach (var item in Model.IndexDto.Sliders)
				{
					<a href="~/Post/@item.Slug" class="item active w-full h-full items-center">
						<div class="img w-full h-full absolute top-0 right-0 bg-center bg-cover" style="background-image: url('/Assets/Pictures/Papers/@item.Picture');"></div>
						<div class="caption relative text-right">
							<div class="text">
								<h2>
									@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
																? $"{item.Title}"
																: $"{item.EnglishTitle}")
						</h2>
							</div>
						</div>
					</a>

				}
			</div>
			<div class="controls">
				<div class="next absolute bg-gray-800 text-white rounded-full flex items-center justify-center"><i class="fas fa-chevron-right"></i></div>
				<div class="prev absolute bg-gray-800 text-white rounded-full flex items-center justify-center"><i class="fas fa-chevron-left"></i></div>
			</div>
			<div class="progress">
			</div>

		</div>

	</section>
}

@if (Model.IndexDto.Categories is not null && Model.IndexDto.Categories.Count > 0)
{
	@foreach (var category in Model.IndexDto.Categories)
	{
		@if (category.Posts is not null && category.Posts.Count > 0)
		{
			<div class="title-box">
				<div class="title-content">
					<div class="title-text">
						<i class="fas fa-envelope" aria-hidden="true"></i>
						<span>
							 @(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
											? $"جدیدترین {category.Title}"
											: $"Latest {category.EnglishTitle}")
			</span>
					</div>
				</div>
			</div>
			<section class="bg-gray-200 pb-4 container mx-auto">
				<div class="px-2 py-5">
					<ul class="lightSlider">
						@foreach (var post in category.Posts)
						{
							<li>
								<div class="box-item bg-white rounded">
									<div class="border border-gray-100 shadow transition ease-in-out duration-300 hover:shadow-xl">
										<!-- img box -->
										<div class="relative overflow-hidden">
											<a href="~/Post/@post.Slug">
												<img src="~/Assets/Pictures/Papers/@post.Picture" alt="Book"
													 class="w-full h-64 sm:h-72 cursor-pointer transition-transform duration-300 group-hover:scale-110">
											</a>
										</div>
										<!-- content box -->
										<div class="px-3 py-4 mt-2">
											<h1 class="text-gray-800 font-semibold mb-1 cursor-pointer transition-colors duration-300">
												<a href="~/Post/@post.Slug">
													@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
																						? $"{post.Title}"
																						: $"{post.EnglishTitle}")
												</a>
											</h1>
											<div class="pt-3 mt-3 border-t border-t-gray-400">
												<p class="text-sm font-semibold text-gray-800">@post.CreatedOn.ToShamsi()</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						}
					</ul>

				</div>
				<a href="~/Posts?sub=@category.Id" class="block mx-auto text-center text-white py-2 rounded mt-4 bg-blue w-40">
					@* مشاهده همه *@
					@Localizer["ShowAll"]
				</a>
			</section>
		}
	}

}
