@page "/Post/{slug}"
@using PaperGate.Core.DTOs
@model PaperGate.Web.Pages.PostModel
@{
	ViewData["Title"] = CultureInfo.CurrentUICulture.Name.StartsWith("fa")
													? Model.PostDto.Title
													: Model.PostDto.EnglishContent;
}
<section class="py-12 ">
	<div class="container mx-auto grid grid-cols-1 tablet:grid-cols-4 gap-4">

		<!-- متن مقاله -->
		<div class="tablet:col-span-3 bg-white rounded-lg shadow p-6">
			<div class="flex justify-between">

				<form method="post">
					<input type="hidden" asp-for="PostDto.Title" />
					<input type="hidden" asp-for="PostDto.CurrentLanguage" />
					<input type="hidden" asp-for="PostDto.Slug" />
					<input type="hidden" asp-for="PostDto.Content" />
					<input type="hidden" asp-for="PostDto.EnglishContent" />
					@* 					<button asp-page-handler="ChangeLanguage" class="px-3 py-2 mb-4 flex justify-end rounded-full text-white bg-gray-800">@(((Language)TempData.Peek("Lang") != Language.Persian) ? "فارسی" : "English")</button>
 *@				</form>
			</div>
			<!--                عکس-->
			<div class="ImgBlog">
				<img src="~/Assets/Pictures/Papers/@Model.PostDto.Picture" alt="@Model.PostDto.Slug"
					 class="w-full border rounded-t-lg object-cover" style="height:70vh">
			</div>
			<h1 class="text-2xl font-bold text-gray-800 my-4">
				@Model.PostDto.Title
			</h1>
			@if (CultureInfo.CurrentUICulture.Name.StartsWith("fa"))
			{
				<div class="text-gray-700 mt-4 pt-8 border-t text-right" style="direction:rtl !important;">

					@Html.Raw(Model.PostDto.Content)
				</div>
			}
			else
			{
				<div class="text-gray-700 mt-4 pt-8 border-t text-left" style="direction:ltr !important;">
					@Html.Raw(Model.PostDto.EnglishContent)
				</div>
			}
			@* @if ((Language)TempData.Peek("Lang") == Language.Persian)
			{
				<div class= "text-gray-700 mt-4 pt-8 border-t text-right" style = "direction:rtl !important;" >

						@Html.Raw(Model.PostDto.Content)
						</div>
			}
			else
			{
				<div class="text-gray-700 mt-4 pt-8 border-t text-left" style="direction:ltr !important;">
					@Html.Raw(Model.PostDto.EnglishContent)
				</div>
			} *@
		</div>

		<!-- سایدبار -->
		<aside class=" rounded-lg -mt-4">
			<div class="sidebar mt-5 flex flex-col gap-2">
				@if (Model.PostDto.PostKeywords is not null && Model.PostDto.PostKeywords.Count > 0)
				{
					<div class="shadow-sm bg-white shadow-gray-100 border rounded">
						<div class="title p-4 text-base border-b">
							@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
													? $"برچسب ها"
													: $"Keywords")
					</div>
					<div class="py-6 px-4">
						<div class="flex flex-wrap gap-2 mt-2">
							@foreach (var item in Model.PostDto.PostKeywords)
								{
									<div class="py-1 px-4 border border-indigo-400 rounded-sm text-indigo-700 hover:scale-95 transition">
										@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
																		? $"{item.Keyword.Title}"
																		: $"{item.Keyword.EnglishTitle}")
							</div>
														}
							</div>
						</div>
					</div>
				}
				@if (Model.PostDto.LatestPosts is not null && Model.PostDto.LatestPosts.Count > 0)
				{
					<div class="shadow-sm bg-white shadow-gray-100 border rounded">
						<div class="title p-4 text-base border-b">
							@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
													? "انتشارات اخیر"
													: "Recent publications")
					</div>
					<div class="py-6 px-4">
						<ol class="flex flex-col gap-2 mr-4 overflow-hidden">
							@foreach (var item in Model.PostDto.LatestPosts)
								{
									<li class="overflow-hidden">
										<a href="~/Post/@item.Slug" class="text-indigo-950">
											@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
																				? $"{item.Title}"
																				: $"{item.EnglishTitle}")
								</a>
							</li>
														}
							</ol>
						</div>
					</div>
				}
				@if (Model.PostDto.UsefulLinks is not null && Model.PostDto.UsefulLinks.Count > 0)
				{
					<div class="shadow-sm bg-white shadow-gray-100 border rounded">
						<div class="title p-4 text-base border-b">
							@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
													? "لینک های مفید"
													: "Useful Links")
					</div>
					<div class="py-6 px-4">
						<ol class="flex flex-col gap-2 list-disc mr-4 overflow-hidden">
							@foreach (var item in Model.PostDto.UsefulLinks)
								{
									<li>
										<a href="@item.Link" class="text-indigo-950">
											@(CultureInfo.CurrentUICulture.Name.StartsWith("fa")
																				? $"{item.Title}"
																				: $"{item.EnglishTitle}")
								</a>
							</li>
														}
							</ol>
						</div>
					</div>
				}

			</div>
		</aside>
	</div>
</section>