@page
@model PaperGate.Web.Pages.PostsModel
@{
	ViewData["Title"] = Model.SubTitle;

}
<section id="Posts" class="py-12" style="margin:80px">
	<div class="container mx-auto w-4/5">
		<h2 class="text-3xl font-bold text-center mb-8">انتشارات @Model.SubTitle</h2>
		@if (Model.PostsDto.Posts != null && Model.PostsDto.Posts.Count != 0)
		{

			<section class="container">
				<div class="grid xs500:grid-cols-1 sm768:grid-cols-2 tablet:grid-cols-3">
					@foreach (var item in Model.PostsDto.Posts)
					{

						<div class="px-1 wow fadeInRight" data-wow-delay="1s">
							<div class="Tourist_attraction-item mt-4 bg-white shadow shadow-gray-300 rounded-sm">
								<!--          /Assets/images           -->
								<a href="/Post/@item.Slug">
									<img src="/Assets/Pictures/Posts/@item.Picture" class="h-64 w-full" alt="@item.Slug">
								</a>
								<!--                     Info-->
								<div class="b-info">
									<div class="Tourist_attraction-desc px-4 pt-1">
										<!--                     Name-->
										<h2 class="text-gray-800"><a href="/Post/@item.Slug" class="text-jadeGreen text-base font-bold">@item.Title</a></h2>
										<!--                        Description-->
										@if (item.Summary.Length > 150)
										{
											<p class="PostSummary text-justify text-gray-600 line-clamp-3 text-sm tablet:text-base leading-7">

												@Html.Raw($"{Model.GetSummary(item.Summary, 100)}")
												<a href="/Post/@item.Slug" class="font-bold">ادامه...</a>
											</p>
										}
										else
										{
											<p class="text-justify text-gray-600 line-clamp-3 text-sm tablet:text-base leading-7">

												@Html.Raw(item.Summary)
											</p>
										}

									</div>
									<div class="author p-4 flex justify-between items-center">
										<span class="text-sm text-gray-600">
											<i class="fas fa-calendar"></i>
											@item.CreatedOn.ToShamsi()
										</span>
									</div>


								</div>
							</div>
						</div>
					}
				</div>
			</section>
		}
		else
		{
			<h3 class="text-center alertInfo m-3">@Model.SubTitle ای پیدا نشد</h3>
		}
	</div>
</section>