@page
@model PaperGate.Web.Pages.Account.Admin.Keywords.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KeywordInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.ModifiedOn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="KeywordInfo.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
