@page
@model PaperGate.Web.Pages.Account.Admin.Keywords.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KeywordInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordInfo.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeywordInfo.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.KeywordInfo.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
