<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - درگاه مقالات</title>
    <partial name="_Styles" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body class="bg-gray-100">


    <header class="bg-white shadow-sm py-6">
        <div class="container flex justify-between">
            <div><a class="text-lg font-medium text-purple-800" href="/">خانه</a> </div>
            <div><a class="text-xl font-semibold" href="/">درگاه مقالات</a> </div>


            @if (User.Identity.IsAuthenticated)
            {

                    <li class="relative h-full flex items-center gap-4">
                @if (User.IsInRole(Roles.AdminEndUser))
                {

                        <a href="~/Account/Admin/Products" class="hover:hover:text-orange-400">پنل کاربری</a>
                }
                else
                {

                        <a href="~/Account/User/Tickets" class="hover:hover:text-orange-400">پنل کاربری</a>
                }

                    <a href="~/Account/User/Tickets" class="hover:hover:text-orange-400">خروج</a>
                </li>
            }
            else
            {
                <li class="relative h-full flex items-center gap-4">

                    <a class="text-lg font-medium text-purple-800" href="~/Identity/Account/Login">ورود</a>
                    <a class="text-lg font-medium text-purple-800" href="~/Identity/Account/Register"> ثبت نام </a>
                </li>
            }





        </div>
    </header>

    @RenderBody()


    <footer class="bg-white mt-8 py-6">
        <h2 class="text-center text-lg font-semibold w-full">Copyright PaperGate 2025</h2>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData["Msg"] != null && TempData["State"] != null)
    {
        string msg = TempData["Msg"].ToString();
        string state = TempData["State"].ToString();
        <script>
            function showAlert(state, msg) {
                switch (state) {
                    case '@Notifs.Success':
                        toastr.success(msg);
                        break;
                    case '@Notifs.Error':
                        toastr.error(msg);
                        break;
                    case '@Notifs.Info':
                        toastr.info(msg);
                        break;
                    case '@Notifs.Warning':
                        toastr.warning(msg);
                        break;
                    default:
                        toastr.warning('Error Happend');
                        break;
                }
            }
            showAlert('@TempData["State"].ToString()', '@Html.Raw(TempData["Msg"].ToString())')
        </script>

        TempData["State"] = null;
        TempData["Msg"] = null;
    }

</body>
</html>

