
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="googlebot" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="keywords" content="پروژه های صنعتی, دانشجویان کارشناسی, دانشجویان ارشد, پایان نامه ها" />
    <meta name="description" content="درگاه مقالات">
    <meta name="author" content="درگاه مقالات">

    <title>@ViewData["Title"] - درگاه مقالات</title>
    <partial name="_Styles" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-gray-100 text-gray-800">

    <!-- Header -->
    <header class="bg-white shadow">
        <div class="w-full mx-auto px-4 py-4 container flex justify-between items-center">
            <nav class="overflow-hidden flex">
                <a href="~/" class="text-gray-700 hover:text-indigo-600"><h1 class="font-bold text-blue myBlogTitle">درگاه مقالات</h1></a>
                <div class="space-x-4 space-x-reverse links">
					<a href="~/" class="text-gray-700 hover:text-indigo-600">خانه</a>
                    <a href="~/AboutUs" class="text-gray-700 hover:text-indigo-600">درباره ما</a>
                    <a href="~/ContactUs" class="text-gray-700 hover:text-indigo-600">تماس با ما</a>
                </div>
            </nav>

           


            <div class="flex space-x-4 space-x-reverse overflow-hidden">
                @if (User.Identity.IsAuthenticated)
                {

                    <a href="~/Account/Admin/Categories" class="overflow-hidden text-gray-700 hover:text-indigo-600 mt-1">پنل کاربری</a>

                    <a href="~/Identity/Account/Logout" class="overflow-hidden text-gray-700 hover:text-indigo-600 mt-1">خروج</a>
                }
                else
                {
                    <a href="~/Identity/Account/Login" class="overflow-hidden text-gray-700 hover:text-indigo-600 mt-1">ورود</a>
                }
            </div>
        </div>
    </header>

    @RenderBody()

    @await Component.InvokeAsync("FooterComponent")

<script>
    $(document).ready(function () {
      $(".lightSlider").lightSlider({
        rtl: true,
        item: 5,
        slideMargin: 10,
        loop: true,
        pager: true,
        auto: true,
        pause: 3000,
        enableTouch: true,
        enableDrag: true,
        responsive: [
          {
            breakpoint: 1280,
            settings: {
              item: 4,
              slideMargin: 7
            }
          },
          {
            breakpoint: 1190,
            settings: {
              item: 3,
              slideMargin: 7
            }
          },

          {
            breakpoint: 850,
            settings: {
              item: 2,
              slideMargin: 7
            }
          },

          {
            breakpoint: 560,
            settings: {
              item: 1,
              slideMargin: 7
            }
          },
        ]
      });
    });
</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData["Msg"] != null && TempData["State"] != null)
    {
        string msg = TempData["Msg"].ToString();
        string state = TempData["State"].ToString();
        <script>
            function showAlert(state, msg) {
                switch (state) {
                    case '@Notifs.Success':
                        toastr.success(msg);
                        break;
                    case '@Notifs.Error':
                        toastr.error(msg);
                        break;
                    case '@Notifs.Info':
                        toastr.info(msg);
                        break;
                    case '@Notifs.Warning':
                        toastr.warning(msg);
                        break;
                    default:
                        toastr.warning('Error Happend');
                        break;
                }
            }
            showAlert('@TempData["State"].ToString()', '@Html.Raw(TempData["Msg"].ToString())')
        </script>

        TempData["State"] = null;
        TempData["Msg"] = null;
    }
</body>
</html>
