@using PaperGate.Core.ViewModels
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<SharedResources> Localizer
@model FooterDto

<!-- Footer -->
<footer class="footer">
	<div class="footer-bottom">
		@if (Model.AboutUs is not null && !string.IsNullOrEmpty(Model.AboutUs.Description))
		{
			@if (CultureInfo.CurrentUICulture.Name.StartsWith("fa"))
			{
				<div class="footer-about">
				<h2 class="footer-title">درباره ما</h2>
				<p class="footer-text">
					@Model.AboutUs.Description.GetSummary(255) <a href="~/AboutUs" class="border-b pb-2">بیشتر</a>
				</p>
				</div>
			}
			else
			{
				<div class="footer-about">
				<h2 class="footer-title">About Us</h2>
				<p class="footer-text">
					@Model.AboutUs.EnglishDescription.GetSummary(255) <a href="~/AboutUs" class="border-b pb-2">More</a>
				</p>
			</div>
			}

		}
		@if (Model.AboutUs.ContactWays is not null && Model.AboutUs.ContactWays.Where(c => c.IsLink).Count() > 0)
		{
			<div class="footer-social">
				<h2 class="footer-title text-center">
					@Localizer["ContactWays"]
				</h2>
				<div class="footer-social-icons">
					@foreach (var item in Model.AboutUs.ContactWays.Where(c => c.IsLink))
					{
						<a href="@item.Link"><i class="@item.Icon"></i></a>
					}

				</div>
				<div class="block mx-auto text-center">
					@if (CultureInfo.CurrentUICulture.Name.StartsWith("fa"))
					{
						@foreach (var item in Model.AboutUs.ContactWays.Where(c => !c.IsLink))
						{
						<span class="text-sm text-center">
							<i class="@item.Icon"></i>:
							@item.Link
						</span> <br />
						}
					}
					else
					{
						@foreach (var item in Model.AboutUs.ContactWays.Where(c => !c.IsLink))
						{
						<span class="text-sm text-center">
							<i class="@item.Icon"></i>:
							@item.EnglishLink
						</span> <br />
						}
					}
				</div>
			</div>
		}
		@if (Model.UsefulLinks is not null && Model.UsefulLinks.Count > 0)
		{
			@if (CultureInfo.CurrentUICulture.Name.StartsWith("fa"))
			{
				<div class="footer-links">
				<h2 class="footer-title">لینک های مفید</h2>
				<ul>
					@foreach (var item in Model.UsefulLinks)
					{
						<li><a href="@item.Link">@item.Title</a></li>
					}
				</ul>
			</div>
			}
			else
			{
				<div class="footer-links">
				<h2 class="footer-title">Useful Links</h2>
				<ul>
					@foreach (var item in Model.UsefulLinks)
					{
						<li><a href="@item.Link">@item.EnglishTitle</a></li>
					}
				</ul>
			</div>
			}
			
		}
	</div>
</footer>